@import "vars";
@import "fonts";
@import "flex";

body {
    font-size: 16px;
    min-width: 320px;
    font-family: $default-font;
}

.container {
    width: 100%;
    max-width: $max-container-width;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border: 1px solid transparent;
    background: #ff3;
    font-size: 18px;
    color: #0F1113;
    transition: all 0.5s ease;
    cursor: pointer;
}

.header {
    background: url(../../img/header-bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;

    @media only screen and (max-width: $md) {
        height: auto;
    }
}

nav {
    display: flex;
    justify-content: center;
    height: 90px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.menu {
    height: 90px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
        font-size: 14px;
        text-decoration: none;
        color: #fff;

        @media only screen and (max-width: $md) {
            color: #fff;
        }
    }

    @media only screen and (max-width: $md) {
        position: fixed;
        width: 100%;
        padding: 20px 25px;
        background: #000;
        color: #fff;
        z-index: 100;
    }

    &__list {
        display: flex;
        align-self: center;

        @media only screen and (max-width: $md) {
            display: none;
            position: absolute;
            top: 88px;
            left: 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
            background: #000;
        }
    }

    &__item {
        margin-right: 35px;
        border-radius: 15px;
        transition: 1s all;
        cursor: pointer;

        @media only screen and (max-width: $lg) {
            padding: 4px 10px;
        }

        @media only screen and (max-width: $md) {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.active,
        &:hover {

            .menu__link {
                color: #34C759;
            }
        }
    }

    &__link {
        font-size: 14px;
        text-decoration: none;
        transition: 1s all;
        color: #000;

        @media only screen and (max-width: $md) {
            font-size: 20px;
        }
    }

    &__icon {
        display: none;

        @media only screen and (max-width: $md) {
            display: flex;
        }
    }

    &.active {
        border-radius: 15px;
        background-color: #ffc61a;

        .menu__link {
            color: #000;
        }
    }
}

.menu-icon {
    display: none;

    @media only screen and (max-width: $md) {
        display: flex;
    }
}

.sticky-menu {
    position: fixed;
    width: 100%;
    background: #000;
    z-index: 100;
}

.logo {
    &__img {
        margin-right: 9px;
    }

    &__text {
        color: #34C759;
    }
}

.banner {
    max-width: 850px;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 160px;

    @media only screen and (max-width: $md) {
        height: auto;
        padding-top: 120px;
        padding-bottom: 80px;
    }

    &__title {

        @media only screen and (max-width: $md) {
            font-size: 54px;
            line-height: 65px;
        }

        margin: 0;
        font-size: 72px;
        font-weight: 300;
        line-height: 87px;
        letter-spacing: 4px;
        text-align: center;
        text-transform: capitalize;
        color: #fff;

        span {
            font-weight: 400;
        }
    }

    &__description {
        width: 75%;
        margin-top: 16px;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: -0.2px;
        text-align: center;
        color: #D1CECA;
    }

    &__button {
        min-width: 220px;
        min-height: 72px;
        margin-top: 40px;
        border-radius: 30px;
        background-color: #34C759;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.2em;
    }

    &__contacts {
        margin-top: 70px;
    }

}

.contact-block {
    width: 245px;

    @media only screen and (max-width: $sm) {
        margin-bottom: 30px;
    }

    &__top-text {
        margin-top: 16px;
        font-size: 16px;
        color: #fff;
    }

    &__sub-text {
        margin-top: 12px;
        font-size: 14px;
        color: #8F8E8F;
    }
}

.section {
    &__title-container {
        position: relative;
    }

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0.2em;
        color: #D9D9D9;
        z-index: 10;

        @media only screen and (max-width: $md) {
            //font-size: 28px;
        }
    }

    &__background-title {
        position: absolute;
        top: -48%;
        text-align: center;
        font-size: 100px;
        line-height: 150px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #303030;
        z-index: 1;

        @media only screen and (max-width: $md) {
            display: none;
        }
    }
}

.divider {
    margin-top: 40px;
    border-bottom: 2px solid #34C759;
}

.divider--long {
    width: 60px;
}

.divider--short {
    width: 56px;
}


.s-about {
    background: #191919;
}

.about-content {
    position: relative;
    padding-top: 105px;
    padding-bottom: 90px;
    background: #252525;

    &__title {
        z-index: 10;
    }

    &__description {
        margin-top: 60px;
        line-height: 30px;
        color: #D9D9D9;
    }
}

.s-steps {
    padding-top: 90px;
    padding-bottom: 30px;
    background: #191919;
}

.steps-content {
    position: relative;
}

.works {
    margin-top: 60px;
}

.work {
    @media only screen and (max-width: $xl) {
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
    }

    flex-basis: 255px;
    padding: 25px;
    padding-bottom: 60px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
    transition: 1.0s all;

    &:hover {
        background: #34C759;
    }

    &__title {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -0.275px;
        text-transform: capitalize;
        color: #fff;
    }

    &__title--active {
        color: #191919;
    }

    &:hover {
        .work__title {
            color: #191919;
        }
    }

    &__divider--active {
        border-color: #191919;

    }

    &:hover {
        .work__divider {
            border-color: #191919;
        }
    }

    &__text {
        margin-top: 24px;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.1625px;
        color: #929292;
    }

    &__text--active {
        color: #191919;
    }

    &:hover {
        .work__text {
            color: #191919;
        }
    }

}

.work--active {
    background: #34C759;
}

.s-dishes {
    padding-top: 90px;
    padding-bottom: 30px;
    background: #191919;
}

.dishes {
    margin-top: 60px;
}

.card {
    position: relative;
    flex-basis: 350px;
    border-radius: 18px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @media only screen and (max-width: $md) {
        width: 90%;
    }

    &__thumb {
        img {
            display: block;
            width: 100%;
        }
    }

    &__share {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        background: rgba(50, 50, 50, 0.4);
        cursor: pointer;
    }

    &__content {
        padding: 25px;
        background: #252525;
    }

    &__title {
        font-size: 32px;
        line-height: 30px;
        color: #D9D9D9;
    }

    &__sub-title {
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.15px;
        color: #A4A8B2;
    }

    &__description {
        margin-top: 20px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.1625px;
        color: #85878C;
    }

    &__footer {
        margin-top: 30px;
    }

    &__button {
        min-width: 100px;
        height: 40px;
        border: 2px solid #303030;
        border-radius: 30px;
        background: #252525;
        font-size: 10px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #929292;
    }

    &__button--active,
    &__button:hover {
        border: 2px solid transparent;
        background: #34C759;
        color: #252525;
    }
}

.stars {
    display: flex;
    cursor: pointer;

    &:hover {
        .star polygon {
            fill: #F9AD3D !important;
        }
    }

    .star {
        polygon {
            fill: #d8d8d8;
        }

        &:hover ~ .star {
            polygon {
                fill: #d8d8d8 !important;
            }
        }
    }

    &[data-stars] {
        .star polygon {
            fill: #F9AD3D;
        }
    }

    &[data-stars="1"] {
        .star:nth-child(1) ~ .star polygon {
            fill: #d8d8d8;
        }
    }

    &[data-stars="2"] {
        .star:nth-child(2) ~ .star polygon {
            fill: #d8d8d8;
        }
    }

    &[data-stars="3"] {
        .star:nth-child(3) ~ .star polygon {
            fill: #d8d8d8;
        }
    }

    &[data-stars="4"] {
        .star:nth-child(4) ~ .star polygon {
            fill: #d8d8d8;
        }
    }

    &[data-stars="5"] {
        .star:nth-child(5) ~ .star polygon {
            fill: #d8d8d8;
        }
    }
}

.s-chefs {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #191919;
}

.chefs {
    margin-top: 38px;

}

.chef {

    @media only screen and (max-width: $lg) {
        margin-top: 50px;
    }

    &__avatar {
        width: 65px;
        height: 65px;
        margin-right: 25px;

        img {
            border-radius: 100%;
        }
    }

    &__text {}

    &__name {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.225px;
        color: #fff;
    }

    &__position {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.15px;
        color: #8C8C8C;
    }

    &__portfolio {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 160px 65px 65px;
        grid-auto-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: space-between;

        @media only screen and (max-width: $lg) {
            margin-top: 50px;
            justify-content: center;
        }
    }
}

.chef-portfolio {
    &__img {
        height: auto;
    }
}

.recipes {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 30px;
    justify-content: center;

    @media only screen and (max-width: $lg) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.current-recipe {
    position: relative;
    padding: 30px;
    padding-top: 60px;
    grid-row: 1/4;
    background: url("../../img/breakfast.jpg") no-repeat;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    color: #fff;

    &__back {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        background: rgba(50, 50, 50, 0.4);
        cursor: pointer;
    }

    &__date {
        margin-top: 70px;
        font-size: 14px;
        line-height: 30px;
    }

    &__title {
        margin-top: 30px;
        font-size: 24px;
        line-height: 40px;
    }

    &__author {
        margin-top: 50px;
    }

    &__socials {
        margin-top: 65px;
    }
}

.recipe-type {
    min-width: 50px;
    padding: 5px 15px;
    border-radius: 9px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.recipe {
    padding: 20px;
    color: #fff;
    background: #252525;
    transition: all 0.5s ease;
    cursor: pointer;

    &__bottom {
        margin-top: 15px;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
    }

    &__date {
        margin-left: 15px;
        font-size: 12px;
        line-height: 25px;
        color: #B3B3B3;
    }

    &__date--active {
        color: #252525;
    }
}

.recipe--active,
.recipe:hover {
    background: #34C759;
    color: #252525;

    .recipe__date {
        color: #252525;
    }
}

.recipe-socials {
    @media only screen and (max-width: $sm) {
        margin-top: 25px;
    }
}

.recipe-social {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }

    &__soc-icon {
        margin-right: 12px;
    }
}

.s-social {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #191919;
}

.socials-blocks {
    margin-top: 60px;
}

.social-block {
    flex-basis: 350px;
    background: #252525;
    border-radius: 10px;

    @media only screen and (max-width: $md) {
        margin-top: 25px;
    }

    &__top {
        padding: 25px;
        border-bottom: 2px solid #303030;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border: 2px solid #303030;
        border-radius: 100%;
    }

    &__name {
        font-size: 14px;
        line-height: 30px;
        color: #BFBFBF;
    }

    &__follow-container {
        padding: 10px 15px;
        border: 2px solid #303030;
        border-radius: 50px;
        cursor: pointer;
    }

    &__follow {
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.2em;
        color: #737373;
        text-transform: uppercase;
    }

    &__bottom {
        padding: 20px 25px;
    }

    &__date {
        font-size: 14px;
        line-height: 30px;
        color: #737373;
    }

    &__text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 30px;
        color: #BDBDBD;
    }

    &__author {
        margin-top: 10px;
        font-size: 14px;
        line-height: 30px;
        color: #34C759;
        cursor: pointer;
    }

    &__inst-photo {
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.footer {
    background: #252525;

    &__top {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #303030;
    }

    &__bottom {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__copy {
        margin-top: 10px;
        font-size: 12px;
        line-height: 60px;
        color: #737373;
    }
}

@import "media";
